<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Todo Form</title>
    <link th:rel="stylesheet" th:href="@{/todo.css}">
</head>
<body>
  <div th:class="container">
    <h1>Add new Todo!</h1>
      <form th:method="post" th:action="@{/todo}">
          <input th:name="title" th:type="text" th:placeholder="Title...">
          <br><br>
          <textarea th:name="description" th:placeholder="Description..."></textarea>
          <br><br>
          <input th:type="submit" th:value="Save">
      </form>
  </div>
</body>
</html>